
p {
  color: rgb(13, 15, 15);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: #800040;
  text-shadow: 3px 3px 1px black;
}

td, th { 
  padding: 8px; 
}
